<% layout("/layouts/boilerplate.ejs") %>

<style>
    .alert{
        margin-top: 7rem;
    }
</style>

<div class="row ">
<div class="alert alert-info col-6 offset-3 " role="alert">
  <h5><%=message%></h5>
</div>
</div>